@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
    font-family: 'Lato', sans-serif;
}

.App {
    min-height: 100vh;
    display: flex;
    background-image: url('./assets/background.jpg');
    background-size: cover;
    background-position: center;
}